$colors: (
  white: #fff,
  darker-white: #f8f8f8,
  black: #1b1b15,
  green: #58af58,
  grey: #77838b,
  silver: #bcc2c6,
  yellow: #f7df1e,
  red: #eb4d4b,
  blue: #2980b9,
  purple: #663399,
  twitter-blue: #1b95e0,
  twitter-blue-hover: #0c7abf,
  facebook-blue: #1877f2,
  linkedin-blue: #52aad3,
  whatsapp-green: #01e675,
);

@function color($x) {
  @return map-get($colors, $x);
}
